/* Mobile */
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

    .display-4 {
        font-size: 3rem;
    }

    .h-md-250 {
        height: 250px;
    }
}
